<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBe63KLEF4tDXj0sA1jhGfpW252Gy3Ufaw</string>
	<key>GCM_SENDER_ID</key>
	<string>376941194514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedSliem.Alula</string>
	<key>PROJECT_ID</key>
	<string>alula-d0c0a</string>
	<key>STORAGE_BUCKET</key>
	<string>alula-d0c0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376941194514:ios:4722487021d935df8cd7cb</string>
</dict>
</plist>